torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1
opencv-python==4.8.1.78
wandb==0.10.31
einops==0.3.2
lpips==0.1.4
scikit-image==0.19.3
timm==0.6.11
flow_vis==0.1
seaborn==0.13.2
mmcv==2.1.0
taming-transformers==0.0.1
taming-transformers-rom1504==0.0.6
omegaconf
pytorch-lightning==2.1.2
torch-scatter==2.0.9
open3d==0.17.0
gdown==5.2.0
fire==0.4.0
pygame==2.0.1
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
protobuf==3.20.0
git+https://github.com/princeton-vl/lietorch.git@91887c3be4fe72aefe4af1deb67f2ea9ce17a049
git+https://github.com/facebookresearch/pytorch3d.git@stable